<%- include('header') -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sequi vel voluptatibus culpa sapiente, non hic saepe dolorem facilis doloremque nisi ratione deleniti quae tempore ea aliquam nobis facere voluptate.</p>

<%- include('footer') -%>